---
export type Props = {
	size?: "sm" | "md" | "lg";
};

const sizeToPx = {
	xs: "20",
	sm: "24",
	md: "32",
	lg: "48",
};

const { size = "xs" } = Astro.props;
---

<span class="flex items-center justify-center">
	<!-- Outline Icon fluent:pen-sparkle-24-regular -->
	<svg
		class="group-aria-[current='true']:hidden group-hover:hidden"
		xmlns="http://www.w3.org/2000/svg"
		width={sizeToPx[size]}
		height={sizeToPx[size]}
		viewBox="0 0 24 24"
		width="32"
		height="32"
		><path
			fill="currentColor"
			d="M4.088 6.412a2.837 2.837 0 0 0-1.347-.955l-1.378-.448a.544.544 0 0 1 0-1.025l1.378-.448A2.838 2.838 0 0 0 4.5 1.774l.011-.034L4.96.363a.544.544 0 0 1 1.027 0l.447 1.377a2.836 2.836 0 0 0 1.798 1.796l1.378.448l.028.007a.544.544 0 0 1 0 1.025l-1.378.448A2.839 2.839 0 0 0 6.461 7.26l-.448 1.377A.547.547 0 0 1 5.5 9a.544.544 0 0 1-.513-.363L4.539 7.26a2.835 2.835 0 0 0-.45-.848m7.695 3.801l-.765-.248a1.577 1.577 0 0 1-1-.999l-.248-.764a.302.302 0 0 0-.57 0l-.25.764a1.575 1.575 0 0 1-.983.999l-.765.248a.302.302 0 0 0 0 .57l.765.249a1.577 1.577 0 0 1 1 1.002l.248.764a.302.302 0 0 0 .57 0l.249-.764a1.576 1.576 0 0 1 .999-.999l.765-.248a.302.302 0 0 0 0-.57zm5.169-6.105l-5.088 5.089l-.534-.198a.5.5 0 0 1-.22-.13a.55.55 0 0 1-.11-.22l-.176-.534l5.067-5.067a3.578 3.578 0 1 1 5.061 5.06L20.06 9a3.25 3.25 0 0 1-.005 4.591l-1.783 1.784a.75.75 0 1 1-1.061-1.061l1.783-1.784A1.75 1.75 0 0 0 19 10.06l-9.998 10a3.106 3.106 0 0 1-1.477.825L2.924 21.98a.75.75 0 0 1-.904-.903l1.096-4.601c.133-.56.419-1.07.825-1.477l3.14-3.14l.539.17c.081.033.156.08.22.14a.59.59 0 0 1 .14.23l.164.518l-3.142 3.143c-.21.21-.358.474-.427.763l-.813 3.416l3.416-.813c.289-.07.553-.217.763-.427l11.95-11.952a2.078 2.078 0 0 0-2.94-2.939"
		></path></svg
	>
	<!-- Solid Icon fluent:pen-sparkle-24-filled -->
	<svg
		class="hidden group-aria-[current='true']:block group-hover:block"
		xmlns="http://www.w3.org/2000/svg"
		width={sizeToPx[size]}
		height={sizeToPx[size]}
		viewBox="0 0 24 24"
		width="32"
		height="32"
		><path
			fill="currentColor"
			d="M4.088 6.412a2.84 2.84 0 0 0-1.347-.955l-1.378-.448a.544.544 0 0 1 0-1.025l1.378-.448A2.84 2.84 0 0 0 4.5 1.774l.011-.034L4.96.363a.544.544 0 0 1 1.027 0l.447 1.377a2.84 2.84 0 0 0 1.798 1.796l1.378.448l.028.007a.544.544 0 0 1 0 1.025l-1.378.448A2.84 2.84 0 0 0 6.461 7.26l-.448 1.377A.55.55 0 0 1 5.5 9a.54.54 0 0 1-.513-.363L4.539 7.26a2.8 2.8 0 0 0-.45-.848m7.695 3.801l-.765-.248a1.58 1.58 0 0 1-1-.999l-.248-.764a.302.302 0 0 0-.57 0l-.25.764a1.58 1.58 0 0 1-.983.999l-.765.248a.302.302 0 0 0 0 .57l.765.249a1.58 1.58 0 0 1 1 1.002l.248.764a.302.302 0 0 0 .57 0l.249-.764a1.58 1.58 0 0 1 .999-.999l.765-.248a.302.302 0 0 0 0-.57zm.347-.944c.254.091.475.259.63.48l-.04.05a1.29 1.29 0 0 1 0 1.5a1.3 1.3 0 0 1-.65.49l-.76.24a.7.7 0 0 0-.23.14a.7.7 0 0 0-.14.22l-.25.79a1.3 1.3 0 0 1-.48.63a1.29 1.29 0 0 1-1.5 0a1.35 1.35 0 0 1-.49-.65l-.24-.76a.6.6 0 0 0-.14-.23a.7.7 0 0 0-.22-.14l-.539-.17l-3.14 3.14a3.1 3.1 0 0 0-.825 1.477L2.02 21.077a.75.75 0 0 0 .904.903l4.601-1.095a3.1 3.1 0 0 0 1.477-.826L19 10.06a1.75 1.75 0 0 1-.005 2.47l-1.783 1.784a.75.75 0 0 0 1.06 1.06l1.784-1.783A3.25 3.25 0 0 0 20.06 9l.891-.892a3.578 3.578 0 0 0-5.06-5.06l-5.068 5.067l.176.534a.55.55 0 0 0 .11.22a.5.5 0 0 0 .22.13l.73.27z"
		></path></svg
	>
</span>
