---
import DocumentIcon from "@/components/icons/Document.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const writings = await getCollection("writings");
console.log("Writings ",writings);
---

<Layout>
	<main class="max-w-5xl mt-12 mx-2 lg:px-12 pb-12">
		<h2 class="text-4xl">Writings</h2>
		<ul
			class="mt-12 grid grid-cols-1 gap-12 sm:gap-6 md:gap-12 sm:grid-cols-2"
		>
			{
				writings.map(({ data: writing }) => {
					return (
						<li class="flex flex-col rounded-2xl border bg-white px-3 pb-4 pt-3 shadow-xl shadow-slate-300/30 dark:border-slate-700 dark:bg-slate-900 dark:shadow-slate-950/20">
							<div class="flex flex-col justify-between lg:flex-row lg:items-center">
								<h3 class="text-4xl ">
									<a
										class="tab-highlight-none"
										href="/writings/layouts-in-astro"
									>
										{writing.title}
									</a>
								</h3>
							</div>
							<div class="py-2">
							</div>
							<div class="flex grow flex-col justify-between">
								<p class="text-slate-600 dark:text-slate-300">
									{writing.summary}
								</p>
								<div class="flex flex-col sm:flex-row gap-4 mt-4">
									<a
										href="/writings/layouts-in-astro"
										class="tab-highlight-none group relative box-border inline-flex h-9 items-center whitespace-nowrap
                                    rounded-full border-2 border-slate-200
                                    bg-white px-3 text-sm
                                    font-semibold
                                    text-slate-600
                                    ring-offset-2
                                    hover:bg-slate-50
                                    hover:text-slate-700
                                    focus:outline-none
                                    focus:ring-2
                                    focus:ring-slate-500
                                    dark:border-slate-700
                                    dark:bg-slate-800/50
                                    dark:text-white/95
                                    dark:ring-offset-slate-900
                                    dark:hover:bg-slate-800
                                    dark:hover:text-white
                                    dark:focus:ring-slate-500
									justify-between
									"
									>
										<span class="flex items-center">
											<DocumentIcon size={"xs"} />
											<span class="ml-1">Read More</span>
										</span>
										<svg
											class="ml-3 overflow-visible text-slate-400 group-hover:text-slate-500 dark:text-slate-500 dark:group-hover:text-slate-400"
											width="3"
											height="6"
											viewBox="0 0 3 6"
											fill="none"
											stroke="currentColor"
											stroke-width="2"
											stroke-linecap="round"
											stroke-linejoin="round"
										>
											<path d="M0 0L3 3L0 6" />
										</svg>
									</a>
								</div>
							</div>
						</li>
					);
				})
			}
		</ul>
	</main>
</Layout>
