---
import DocumentIcon from "@/components/icons/Document.astro";
// import Astro from "Astro.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
const components = await Astro.glob("@/components/icons/logos/*.astro");

const getIcon = (name: string) => {
    const icon = components.find(
        (component) => component.default.name === name,
    );
    if (icon) return icon.default;
    else return DocumentIcon;
};

const parsedTags = tags.map(({ data: { name: label }, id }) => ({
    id,
    label,
    Icon: getIcon(label),
}));
---

<Layout>
    <main class="max-w-5xl mt-12 mx-2 lg:px-12 pb-12 w-full">
        <h2 class="text-6xl">Tags</h2>
        <ul
            class="mt-12 grid grid-cols-1 gap-12 sm:gap-6 md:gap-12 sm:grid-cols-2"
        >
            {
                parsedTags.map((tag) => (
                    <li class="flex gap-x-2">
                        <tag.Icon height={48} />
                        <h3 class="text-4xl">{tag.label}</h3>
                    </li>
                ))
            }
            <!-- {components.map((component) => (
                <div>
                   <component.default size={24} />
                </div>
              ))} -->
        </ul>
    </main>
</Layout>
