---
import RollingBlock from "../components/web-components/rolling-block.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div
		transition:name="profile-card"
		inert
		class="z-10 flex max-w-lg items-center gap-x-4 rounded-full border border-slate-300 bg-white/10 supports-backdrop-blur:backdrop-blur-sm py-2 pl-2 pr-10 shadow-inner shadow-slate-200 dark:border-slate-500/50 dark:bg-slate-500/10 dark:shadow-slate-700"
	>
		<div
			transition:name="photo"
			id="background-circle"
			class="relative z-0 flex size-14 flex-shrink-0 items-center justify-center rounded-full sm:size-16"
			style="
						background: radial-gradient(
							circle,
							hsla(231, 100%, 50%, 0.7) 0%,
							hsla(196, 100%, 50%, 1) 100%
						);
					"
		>
			<div
				id="photo"
				class="relative z-10 size-12 rounded-full opacity-80 sm:size-14"
				style=`
							box-shadow: 0px 0px 60px 1px hsla(210, 100%, 70%, 1);
							background-position: top center;
							background-size: cover;
							background-image: url('');`
			>
			</div>
		</div>
		<div class="flex flex-col justify-between self-stretch py-2">
			<h2
				transition:name="full-name"
				class="line-clamp-1 text-slate-950 [text-shadow:0px_1px_2px_#13151a61;] dark:[text-shadow:0px_1px_2px_#fff4;] dark:text-white overflow-auto text-xl sm:text-2xl"
			>
				Sukhpreet Singh
			</h2>
			<RollingBlock list={["Software Developer", "Programmer"]} xs />
		</div>
	</div>
</Layout>
