@import "tailwindcss";

/* Custom variants */
@custom-variant dark (&:where(.dark, .dark *));

/* Add plugins */
/* @plugin "@tailwindcss/typography"; */

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}
